div#header
	.page-header
		ul.nav.nav-pills
			li(class="active")
				a(href="#") Home
			li(class="tri")
				a 
			li(class="tri2")
				a
			li(class="active hidden-sm hidden-xs")
				a(href="#") Accommodations
			li(class="tri hidden-sm hidden-xs")
				a
			li(class="tri2 hidden-sm hidden-xs")
				a
			li(class="active")
				a(href="#") London
			li(class="tri")
				a
			li(class="tri2")
				a
			li(class="active")
				a(href="#") My Property
			li(class="tri")
				a









