link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/public/fontello/css/fontello.css", rel="stylesheet")
link(href="/public/stylesheets/style.css", rel="stylesheet")
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="/public/javascripts/main.js")